body {
	background-color: #444;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	margin: 0;
	color: white;
	font-family: Helvetica;
	font-size: 2vh;
}

.backgroundHexagon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-user-drag: none;
}



.branchContainer {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
}

.reefBranch {
	width: 60px;
	height: 60px;
	display: block;
	background-color: rgb(202, 101, 118);
	border-radius: 50px;
	border: solid 3px rgb(165, 83, 97);
	text-align: center;
	font-size: 0/*50px*/;
	cursor: pointer;
	position: absolute;
	top: -30px;
	left: -30px;
}

.reefBranch:hover {
	border: solid 3px rgb(126, 64, 74);
}
.reefBranch:active {
	border-color: rgb(85, 44, 51);
}

.branchA {
	transform: translate(-40px, 150px);
}
.branchB {
	transform: translate(40px, 150px);
}
.branchC {
	transform: rotate(-60deg) translate(-40px, 150px);
}
.branchD {
	transform: rotate(-60deg) translate(40px, 150px);
}
.branchE {
	transform: rotate(-120deg) translate(-40px, 150px);
}
.branchF {
	transform: rotate(-120deg) translate(40px, 150px);
}
.branchG {
	transform: rotate(-180deg) translate(-40px, 150px);
}
.branchH {
	transform: rotate(-180deg) translate(40px, 150px);
}
.branchI {
	transform: rotate(-240deg) translate(-40px, 150px);
}
.branchJ {
	transform: rotate(-240deg) translate(40px, 150px);
}
.branchK {
	transform: rotate(-300deg) translate(-40px, 150px);
}
.branchL {
	transform: rotate(-300deg) translate(40px, 150px);
}

.infoContainer {
	text-align: center;
	position: absolute;
	width: 100vw;
}

#scoreCounter {
	display: block;
	height: fit-content;
	width: fit-content;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #000;
	z-index: 10;
	font-size: 8vh;
	font-family: Helvetica;
}

.restartContainer {
	display: block;
	height: min-content;
	width: min-content;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 12;
}
.restartContainer * {
	margin: 2.5px;
}

#restart {
	border: solid 3px #d27f1f;
	padding: 10px;
	background-color: #ea9533;
	border-radius: 10px;
	font-size: 25px;
	color: #fff;
	font-family: Helvetica;
	left: 50%;
}
#restart:hover {
	border-color: #a36218;
	cursor: pointer;
}
#restart:active {
	border-color: #794911;
}

#modeSelect {
	border: solid 3px #d27f1f;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ea9533;
	font-size: 25px;
	border-radius: 10px;
	color: #fff;
	font-family: Helvetica;
}
#modeSelect:hover {
	border-color: #a36218;
	cursor: pointer;
}
#modeSelect:active {
	border-color: #794911;
	outline: none;
}
#modeSelect:focus {
	outline: none;
}

#timer {
	font-size: 26px;
	position: absolute;
	right: 25px;
	bottom: 0;
}

#endScore {
	color: #000;
	font: 24px;
	text-align: center;
	font-family: Helvetica;
}